
body {
    font-family: 'Arial', sans-serif;
    font-size: larger;
    background-color: rgb(217, 189, 240);
    color: black;
}

.navbar {
    background-color: #e8afd8;
    color: black;
}

.navbar a {
    color: rgb(238, 43 , 173) !important;
}

.btn-custom {
    background-color: #5e12a5;
    color: white;
    border: none;
}

.btn-custom:hover {
    background-color: black;
}

.card {
    border: 1px solid #7c7ad5;
    border-radius: 10px;
}